@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:slnt,wdth,wght,CTRS@-10..0,50..200,100..900,0..85&display=swap');

:root {
    --primary-color: #4682b4;
    --accent-color: #b2f2bb;
    --background-color: #fafafa;
    --text-color: #333333;
}

body {
    font-family: 'Science Gothic', sans-serif;
    background-color: #d40d0d;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--background-color);
    width: 100%;
    height: 70px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 16px;
    padding-right:;
}

.navbar ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}

.navbar-logo img {
  height: auto;
  width: auto;
}